{{ define "main" }}

<!-- start of Content-section -->
<section class="section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 p-5 justify-content-center align-self-center text-center">
        {{ with site.Params.mspartner }}
        <a target="_blank" href="{{ .link }}">
          {{ $image := resources.GetMatch .image }}
          {{ partial "image.html" (dict "Image" $image "Alt" "Partner Status Image" "Class" "partner-status-img img-fluid rounded-lg img-limitted") }}      
        </a>
        {{ end }}
      </div>
      <div class="col-lg-6 col-md-9 text-center mb-40">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>
</section>
<!-- end of Content-section -->


<!-- start section -->
{{ $teampage := .Site.GetPage "/team" }}
{{ $teampages := $teampage.Pages }}
{{ $count := len $teampages }}
{{ $mcts := 0 }}
{{ $associates := 0 }}
{{ $experts := 0 }}
{{ $mvps := 0 }}
{{ range $teampages }}
  {{ range .Params.certifications }}
    {{ if in . "Microsoft Certified Trainer" }}
      {{ $mcts = add $mcts 1 }}
    {{ else if in . "Expert" }}
      {{ $experts = add $experts 1 }}
    {{ else if in . "Associate" }}
      {{ $associates = add $associates 1 }}
    {{ else if in . "Most Valuable Professional"}}
      {{ $mvps = add $mvps 1 }}
    {{ end }}
  {{ end }}
{{ end }}

<section class="section-padding pt-0">
  <div class="container">
    <div class="shadow px-4 pt-30">
      <div class="has-colored-text row no-gutters overflow-hidden">
        <!-- MCTs -->
          <div class="col-3 text-center border-md-0 mb-30 border-right" data-aos="fade-up">
            <p class="has-text-color mb-10 text-capitalize">MCTs</p>
            <a href="/certified-quality/mct/">
              {{ $image := resources.GetMatch "/images/certs/mct.png" }}
              {{ partial "image.html" (dict "Image" $image "Alt" "badge" "Class" "img-fluid cert-badge") }}  
            </a>
            <h2 class="text-black-200 font-weight-bold">
              <span class="jsCounter-2" data-count="{{ $mcts }}">0</span></h2>
          </div>
        <!-- Associates -->
        <div class="col-3 text-center border-md-0 mb-30 border-right" data-aos="fade-up">
          <p class="has-text-color mb-10 text-capitalize">Associates</p>
          {{ $image := resources.GetMatch "/images/certs/microsoft-certified-associate-badge.svg" }}
          {{ partial "image.html" (dict "Image" $image "Alt" "badge" "Class" "img-fluid cert-badge") }}
          <h2 class="text-black-200 font-weight-bold">
            <span class="jsCounter-2" data-count="{{ $associates }}">0</span></h2>
        </div>
        <!-- Experts -->
        <div class="col-3 text-center border-md-0 mb-30 border-right" data-aos="fade-up">
          <p class="has-text-color mb-10 text-capitalize">Experts</p>
          {{ $image := resources.GetMatch "/images/certs/microsoft-certified-expert-badge.svg" }}
          {{ partial "image.html" (dict "Image" $image "Alt" "badge" "Class" "img-fluid cert-badge") }}
          <h2 class="text-black-200 font-weight-bold">
            <span class="jsCounter-2" data-count="{{ $experts }}">0</span></h2>
        </div>
        <!-- MVP -->
        <div class="col-3 text-center border-md-0 mb-30" data-aos="fade-up">
          <p class="has-text-color mb-10 text-capitalize">MVP</p>
          <a href="/certified-quality/mvp/">
            {{ $image := resources.GetMatch "/images/certs/mvp.png" }}
            {{ partial "image.html" (dict "Image" $image "Alt" "badge" "Class" "img-fluid cert-badge") }}
          </a>
          <h2 class="text-black-200 font-weight-bold">
            <span class="jsCounter-2" data-count="{{ $mvps }}">0</span></h2>
        </div>
      </div>
    </div>
  </div>
</section>


{{ range (where .Site.RegularPages "Section" "certified-quality") }}
{{ if and (ne .Params.title "MCT") (ne .Params.title "MVP") }}
<section class="section-padding pt-0">
  <div class="container">
    {{ .Content }}
    <div class="shadow px-4 pt-30">
      <div class="has-colored-text row no-gutters overflow-hidden">
        {{ $link := .Permalink }}
        {{ range .Params.certifications }}
          {{ $name := .name}}
          {{ $counter := 0 }}
          {{ range $teampages }}
            {{ range .Params.certifications }}
              {{ if in . $name }}
                {{ $counter = add $counter 1 }}
              {{ end }}
            {{ end }}
          {{ end }}
          <div class="col-md-2 col-3 text-center border-md-0 mb-30 border-right" data-aos="fade-up">
            <a href="{{ $link }}">
              {{ $image := resources.GetMatch .badge }}
              {{ partial "image.html" (dict "Image" $image "Alt" "badge" "Class" "img-fluid cert-badge") }}
            </a>
            <h2 class="text-black-200 font-weight-bold">
              <span class="jsCounter-2" data-count="{{ $counter }}">0</span></h2>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}


{{ end }}