<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}de-CH{{ end }}">
{{- partial "head.html" . -}}

<body id="top" data-spy="scroll" data-target="#navbar-spy" class="position-relative">
  {{- partial "preloader.html" . -}}
	{{- partial "header.html" . -}}
	{{- partial "page-header.html" . -}}

  <!-- strat of blog-details -->
  <section class="section-padding pt-50">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12 mb-30 text-center">
          {{ $image := resources.GetMatch .Params.image }}
          {{ partial "image.html" (dict "Image" $image "Alt" "blog Image" "Class" "img-fluid rounded img-limitted") }}      
        </div>
        <div class="col-lg-9 col-md-12 mb-60">
          <div class="post-category position-relative mb-15">{{ range $i,$p:= .Params.Categories }}{{if ne $i 0}},{{end}}<a
            href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}" class="text-black-200 font-weight-600 ml-1">{{ . | humanize }} </a>
            {{ end }}
          </div>
          <div class="content">{{.Content}}</div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of blog-details -->
  {{- partial "footer.html" . -}}
</body>

</html>