/* SideScroll Fix */
html, body {
    overflow-x: hidden;
}
body {
    position: relative;
}

.preheader {
    height: calc(100vh - 88px);
    img {
        width: 100%; 
        height: inherit; 
        object-fit: cover; 
        object-position: top; 
        position: fixed; 
        opacity: .8;
        height: calc(100vh - 88px); 
        top:0; 
    }
    .welcome-text {
        h2, h3 {
            color: white !important;
        }
        background-color: $color-primary-milky;
        padding: 1rem;
    }
}

.header-nav {
    img {
        max-width: 10rem;
    }
    .navbar {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.sticky {
    position: fixed !important;
    top: 0;
    width: 100%
}

.sticky + .postheader {
    padding-top: 88px;
}

.cc-cp-foot-save,
.cc-nb-okagree {
    background-color: $color-primary !important;
}

.content img {
    max-height: 28rem;
}
section {
    background-color: white;
    position: relative;
}
.img-fluid {
    width: 100%;
}
.img-limitted {
    max-width: 23em;
}

.team-img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    object-position: 50% 10px;
}

.testimonials-section .testimonials-item .user-info img {
    height: 60px;
    width: 80px;
    object-fit: scale-down;
}

