/* SideScroll Fix */
html, body {
    overflow-x: hidden;
}
body {
    position: relative;
}

.preheader {
    height: calc(100vh - 88px);
    img {
        width: 100%; 
        height: inherit; 
        object-fit: cover; 
        object-position: top; 
        position: fixed; 
        opacity: 0.7;
        height: calc(100vh - 88px); 
        top:0; 
    }
}

.header-nav {
    img {
        max-width: 10rem;
    }
    .navbar {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.sticky {
    position: fixed !important;
    top: 0;
    width: 100%
}

.sticky + .postheader {
    padding-top: 88px;
}

.cc-cp-foot-save,
.cc-nb-okagree {
    background-color: $color-primary !important;
}

.content img {
    max-height: 28rem;
}
section {
    background-color: white;
    position: relative;
}
.img-fluid {
    width: 100%;
}