/* SideScroll Fix */
html,
body {
    overflow-x: hidden;
}

body {
    position: relative;
}

a:not(.nav-link, .dropdown-item, .btn) {
    text-decoration: underline !important;
}

.header-nav {
    .navbar {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.navbar-brand {
    max-width: calc(100% - 80px);
}

.sticky {
    position: fixed !important;
    top: 0;
    width: 100%
}

.logo_cc {
    max-width: 130px;
    padding: 15px;
    display: none;
}

.logo-small {
    width: 90px;
    transition: 0.5s;

    .logo_cc {
        display: block;
    }

    .logo_normal {
        display: none;
    }
}

.logo-big {
    width: 260px;
    transition: 0.5s;

    .logo_cc {
        display: none;
    }

    .logo_normal {
        display: block;
    }
}

.cert-badge {
    padding: 15%;
}

.brand-item {
    height: unset !important;
}

.cc-cp-foot-save,
.cc-nb-okagree {
    background-color: $color-primary  !important;
}

.content img {
    max-height: 28rem;
}

section {
    background-color: white;
    position: relative;
}

.img-fluid {
    width: 100%;
}

.img-limitted {
    max-width: 23em;
}

.img-small-padding {
    padding: 5px;
}

.team-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 50% 10px;
}

.testimonials-section .testimonials-item .user-info img {
    height: 60px;
    width: 80px;
    object-fit: scale-down;
}

.testimonials-section .slick-dots li button {
    position: relative;
    height: 48px;
    width: 48px;
}

.content a {
    color: $color-primary;
    text-decoration: underline;
}


.partner-status-img {
    width: 15em;
}

.cert-badge-detailed {
    min-width: 10em;
    padding-bottom: 1em;
}