{{ define "main" }}

<!-- start of services-section -->
<section class="section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-9 text-center mb-40">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>
</section>
<!-- end of services-section -->

<!-- start section -->
{{with .Params.why }}
<section class="pt-120 pb-120 image-info-section has-shapes bg-light-gray has-bg-brash bg-brash-y overflow-hidden"
  style="background-image: url('{{`images/brushes/section-top.svg` | absURL}}'), url('{{`images/brushes/section-bottom.svg` | absURL}}');">
  <div class="container">
    <div class="row align-items-center justify-content-around">
      <div class="col-lg-5 col-md-8 col-sm-10">
        <div class="d-inline-block has-shadow shadow-left has-shapes">
          {{ $image := resources.GetMatch .image }}
          {{ partial "image.html" (dict "Image" $image "Alt" "blog Image" "Class" "img-fluid rounded-sm") }}
          <div class="shape-1 shape-md bg-secondary rounded-circle"></div>
          <div class="shape-2 shape-xl bg-tertiary rounded-circle"></div>
          <div class="shape-3 shape-lg bg-primary rounded-circle"></div>
        </div>
      </div>
      <div class="col-lg-5 col-md-8 col-sm-10 mt-5 mt-lg-0">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        <p class="pb-20">{{ .content | markdownify }}</p>
      </div>
    </div>
  </div>

  <div class="shape-3 shape-xs-2 bg-secondary rounded-circle"></div>
  <div class="shape-4 shape-sm-2 bg-tertiary rounded-circle"></div>
  <div class="shape-5 shape-sm bg-primary rounded-circle"></div>
  <div class="shape-6 shape-xs bg-secondary rounded-circle"></div>
  <div class="shape-7 shape-xs-2 bg-tertiary rounded-circle"></div>
</section>
{{ end }}
<!-- end section -->

<!-- start section -->
{{with .Params.how }}
<section class="section-padding" data-aos="fade-in" data-aos-delay="50">
  <div class="container">
    <div class="row align-items-center justify-content-around">
      <div class="col-lg-5 col-md-8 col-sm-10 mb-5">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        <p class="pb-20 mb-20">{{ .content | markdownify }}</p>
      </div>
      <div class="col-lg-5 col-md-8 col-sm-10">
        <div class="d-inline-block has-shadow shadow-right has-shapes">
          {{ $image := resources.GetMatch .image }}
          {{ partial "image.html" (dict "Image" $image "Alt" "blog Image" "Class" "img-fluid rounded-sm") }}
          <div class="shape-1 shape-md bg-secondary rounded-circle"></div>
          <div class="shape-2 shape-xl bg-tertiary rounded-circle"></div>
          <div class="shape-3 shape-lg bg-primary rounded-circle"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- end section -->

<!-- start section -->
{{with .Params.what }}
<section class="pt-120 pb-120 image-info-section has-shapes bg-light-gray has-bg-brash bg-brash-y overflow-hidden"
  style="background-image: url('{{`images/brushes/section-top.svg` | absURL}}'), url('{{`images/brushes/section-bottom.svg` | absURL}}');">
  <div class="container">
    <div class="row align-items-center justify-content-around">
      <div class="col-lg-5 col-md-8 col-sm-10">
        <div class="d-inline-block has-shadow shadow-left has-shapes">
          {{ $image := resources.GetMatch .image }}
          {{ partial "image.html" (dict "Image" $image "Alt" "blog Image" "Class" "img-fluid rounded-sm") }}
          <div class="shape-1 shape-md bg-secondary rounded-circle"></div>
          <div class="shape-2 shape-xl bg-tertiary rounded-circle"></div>
          <div class="shape-3 shape-lg bg-primary rounded-circle"></div>
        </div>
      </div>
      <div class="col-lg-5 col-md-8 col-sm-10 mt-5 mt-lg-0">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        <p class="pb-20">{{ .content | markdownify }}</p>
      </div>
    </div>
  </div>

  <div class="shape-3 shape-xs-2 bg-secondary rounded-circle"></div>
  <div class="shape-4 shape-sm-2 bg-tertiary rounded-circle"></div>
  <div class="shape-5 shape-sm bg-primary rounded-circle"></div>
  <div class="shape-6 shape-xs bg-secondary rounded-circle"></div>
  <div class="shape-7 shape-xs-2 bg-tertiary rounded-circle"></div>
</section>
{{ end }}
<!-- end section -->

<!-- start section -->
{{with .Params.funfacts }}
<section class="section-padding pt-0">
  <div class="container">
    <div class="shadow px-4 pt-30">
      <div class="has-colored-text row no-gutters overflow-hidden">
        {{ $len := (len (.funfacts_item)) }}
        {{ range $index, $element := .funfacts_item }}
        <div
          class="col-lg-3 col-sm-6 text-center border-md-0 mb-30 {{ if ne (add $index 1) $len }}border-right{{ end }}"
          data-aos="fade-up">
          <p class="has-text-color mb-10 text-capitalize">{{ .name }}</p>
          <h2 class="text-black-200 font-weight-bold">
            <span class="jsCounter-2" data-count="{{ .count }}">0</span>{{.extension}}
          </h2>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- end section -->

<!-- start of philosophie section -->
{{ if .Params.philo.enable }}
{{ with .Params.philo }}
<section class="section-padding pb-50">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-9 text-center mb-40" data-aos="fade-in">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify}}</p>
      </div>
    </div>
    <div class="has-colored-text row">
      {{ range .item }}
      <div class="col-lg-4 col-md-6">
        <div class="text-center p-0 p-md-2 mb-30" data-aos="fade-up">
          <div class="has-text-color h2">
            <i class="{{ .icon }}"></i>
          </div>
          <h5 class="font-weight-600 mt-20 mb-15">{{ .name | markdownify }}</h5>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- end of benifits section -->

{{ end }}