
{{ $image := .Image }}
{{ $reallytiny := ($image.Resize "100x q70") }}
{{ $tiny := ($image.Resize "480x q70") }}
{{ $small := ($image.Resize "768x q70") }}
{{ $medium := ($image.Resize "1024x q70") }}
{{ $large := ($image.Resize "1366x q70") }}

<img
srcset="
    {{- with $reallytiny.RelPermalink -}}{{.}} 100w{{- end -}}
    {{- with $tiny.RelPermalink -}}{{.}} 480w{{- end -}}
    {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
    {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
    {{- with $large.RelPermalink -}}, {{.}} 1366w{{- end -}}"
src="{{ $image.RelPermalink }}"
alt="{{ .Alt }}"
class="{{ .Class }}">
