{{ $image := .Image }}

{{ $isWEBP := eq (path.Ext $image) ".webp" }}

{{ $newPath := replace $image ".png" ".webp" }}
{{ $newPath := replace $image ".jpg" ".webp" }}
{{ $newPath := replace $image ".jpeg" ".webp" }}

{{ $exists := fileExists (printf "assets/%s" $newPath) }}


{{ if or $isWEBP $exists -}}
    {{ $tiny := ($image.Resize "480x webp drawing") }}
    {{ $small := ($image.Resize "768x webp drawing") }}
    {{ $medium := ($image.Resize "1024x webp drawing") }}
    {{ $large := ($image.Resize "1366x webp drawing") }}
    <picture>
  
        <img
            srcset="
                {{ if ge $image.Width 480 }}{{- with $tiny.RelPermalink -}}, {{.}} 480w{{- end -}}{{ end }}
                {{ if ge $image.Width 768 }}{{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}{{ end }}
                {{ if ge $image.Width 1024 }}{{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}{{ end }}
                {{ if ge $image.Width 1366 }}{{- with $large.RelPermalink -}}, {{.}} 1366w{{- end -}}{{ end }}"
            src="{{ $image.RelPermalink }}"
            alt="{{ .Alt }}"
            class="{{ .Class }}"
            width="{{ $image.Width }}"
            height="{{ $image.Height }}">
    </picture>
{{ else }}
    {{ $tiny := ($image.Resize "480x q70") }}
    {{ $small := ($image.Resize "768x q70") }}
    {{ $medium := ($image.Resize "1024x q70") }}
    {{ $large := ($image.Resize "1366x q70") }}
    <picture>
  
        <img
            srcset="
                {{ if ge $image.Width 480 }}{{- with $tiny.RelPermalink -}}, {{.}} 480w{{- end -}}{{ end }}
                {{ if ge $image.Width 768 }}{{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}{{ end }}
                {{ if ge $image.Width 1024 }}{{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}{{ end }}
                {{ if ge $image.Width 1366 }}{{- with $large.RelPermalink -}}, {{.}} 1366w{{- end -}}{{ end }}"
            src="{{ $image.RelPermalink }}"
            alt="{{ .Alt }}"
            class="{{ .Class }}"
            width="{{ $image.Width }}"
            height="{{ $image.Height }}">
    </picture>
{{ end }}

