
<!-- start of how-it-works tab -->
{{ if .Params.homepage_tab.enable }}
{{ with .Params.homepage_tab }}
<section class="section-padding how-it-works-tab pt-0 overflow-hidden">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-9 text-center mb-40">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
      </div>
      <div class="col-lg-11">
        <ul class="nav nav-pills justify-content-center mb-20" id="pills-tab" role="tablist">
          {{ range $i, $e:= .tablist }}
          <li class="nav-item mb-20" role="presentation">
            <a class="nav-link {{if eq $i 0}}active{{end}}" id="pill-{{.title| urlize}}" data-toggle="pill"
              href="#{{.title| urlize}}" role="tab" aria-controls="{{.title| urlize}}" aria-selected="true">
              <i class="circle-shape"></i>{{.name}}
            </a>
          </li>
          {{ end }}
        </ul>

        <div class="tab-content" id="pills-tabContent" data-aos="fade-in">
          {{ range $i, $e:= .tablist }}
          <div class="tab-pane fade {{if eq $i 0}}show active{{end}}" id="{{.name | urlize}}" role="tabpanel"
            aria-labelledby="pill-{{.name | urlize}}">
            <div class="row align-items-center">
              <div class="col-lg-8 anim-to-top">
                <img class="img-fluid rounded-lg shadow" src="{{ .image | absURL }}" alt="">
              </div>
              <div class="col-lg-4 mt-4 mt-lg-0 anim-to-bottom">
                <h2 class="section-title">{{ .title | markdownify }}</h2>
                <p class="mb-30">{{ .content | markdownify }}</p>
                {{ if .button.enable }}
                {{ with .button }}
                <a href="{{ .link | absLangURL }}" class="btn btn-primary has-icon">{{ .label }}
                  <span class="icon">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z"
                        fill="currentColor" />
                    </svg>
                  </span>
                </a>
                {{ end }}
                {{ end }}
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- end of how-it-works tab -->