{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- Blog section -->
{{ $mysection := ($.Site.GetPage "blog" .Section).Pages.ByPublishDate }}
{{ range last 1 $mysection }}
<section class="section-padding">
  <div class="container">
    <div class="row align-items-center justify-content-around">
      <div class="col-lg-5 col-md-8 col-sm-10 mb-5">
        <h2 class="section-title">{{ .Params.title | markdownify }}</h2>
        <p class="pb-20 mb-20">{{ .Params.Description | markdownify }}</p>
        <a href="{{ .Permalink | absLangURL }}" class="btn btn-primary has-icon">{{ i18n "view_job"}}
          <span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z"
                fill="currentColor" />
            </svg></span>
        </a>

      </div>
      <div class="col-lg-5 col-md-8 col-sm-10">
        <div class="d-inline-block has-shadow shadow-right has-shapes">
          {{ $image := resources.GetMatch .Params.image }}
          {{ partial "image.html" (dict "Image" $image "Alt" "Blog image" "Class" "img-fluid rounded-sm") }}
          <div class="shape-1 shape-md bg-secondary rounded-circle"></div>
          <div class="shape-2 shape-xl bg-tertiary rounded-circle"></div>
          <div class="shape-3 shape-lg bg-primary rounded-circle"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- end blog section -->



<!-- start of Services tab -->
<section class="section-padding how-it-works-tab pt-50 overflow-hidden bg-light-gray has-bg-brash bg-brash-y"
  style="background-image: url('{{`images/brushes/section-top.svg` | absURL}}'), url('{{`images/brushes/section-bottom.svg` | absURL}}');">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-9 text-center mb-40">
        <h2 class="section-title">{{ $data.homepage.services.title | markdownify }}</h2>
        <p>{{ $data.homepage.services.content | markdownify }}</p>
      </div>
      <div class="col-lg-11">
        <ul class="nav nav-pills justify-content-center mb-20" id="pills-tab" role="tablist">
          {{ range $i, $e:= (where .Site.Pages "Section" "services") }}
          {{ if and .Params.title .Params.id }}
          <li class="nav-item mb-20" role="presentation">
            <a class="nav-link {{if eq $i 0}}active{{end}}" id="pill-{{.Params.id| urlize}}" data-toggle="pill"
              href="#{{.Params.id| urlize}}" role="tab" aria-controls="{{.Params.id| urlize}}" aria-selected="true">
              <i class="circle-shape"></i>{{ .Params.title }}
            </a>
          </li>
          {{ end }}
          {{ end }}
        </ul>

        <div class="tab-content" id="pills-tabContent" data-aos="fade-in">
          {{ range $i, $e:= (where .Site.Pages "Section" "services") }}
          <div class="tab-pane fade {{if eq $i 0}}show active{{end}}" id="{{.Params.id | urlize}}" role="tabpanel"
            aria-labelledby="pill-{{.Params.id | urlize}}">
            <div class="row align-items-center">
              <div class="col-lg-8 anim-to-top">
                {{ $image := resources.GetMatch .Params.image }}
                {{ partial "image.html" (dict "Image" $image "Alt" "services Image" "Class" "img-fluid rounded-lg") }}
              </div>
              <div class="col-lg-4 mt-4 mt-lg-0 anim-to-bottom">
                <h2 class="section-title">{{ .Params.title | markdownify }}</h2>
                <p class="mb-30">{{ .Params.description | markdownify }}</p>
                <a href="{{ .Permalink | absLangURL }}" class="btn btn-primary has-icon">{{ .Params.title }}
                  <span class="icon">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z"
                        fill="currentColor" />
                    </svg>
                  </span>
                </a>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of Services tab -->

<!-- start of brand-carousel -->

<section id="first-section" class="section-padding overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="brand-carousel">
          {{ range (where .Site.RegularPages "Section" "certified-quality") }}
          {{ $link := .Permalink}}
          {{ range .Params.certifications }}
          <a href="/certified-quality/">
            <div class="brand-item d-flex align-items-center justify-content-center">
              {{ $image := resources.GetMatch .badge }}
              {{ partial "image.html" (dict "Image" $image "Alt" "badge" "Class" "img-fluid") }}
            </div>
          </a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end of brand-carousel -->


<!-- start of testimonials-carousel -->
{{ with $data.success_short }}
<section class="section-padding pt-0 testimonials-section has-shapes">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-9 text-center mb-30">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="testimonials-carousel">
          {{ range .testimonial_items }}
          <div class="testimonials-item bg-white">
            <div class="block border rounded bg-white">
              <svg class="icon mb-15" width="25" height="20" viewBox="0 0 40 35" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M3.75001 35L13.75 35C15.8203 35 17.5 33.3203 17.5 31.25L17.5 21.25C17.5 19.1797 15.8203 17.5 13.75 17.5L7.50001 17.5L7.50001 12.5C7.50001 9.74219 9.74219 7.5 12.5 7.5L13.125 7.5C14.1641 7.5 15 6.66406 15 5.625L15 1.875C15 0.83594 14.1641 2.25865e-06 13.125 2.34949e-06L12.5 2.40413e-06C5.59375 3.00789e-06 5.05862e-06 5.59375 5.66238e-06 12.5L7.30156e-06 31.25C7.48255e-06 33.3203 1.6797 35 3.75001 35ZM26.25 35L36.25 35C38.3203 35 40 33.3203 40 31.25L40 21.25C40 19.1797 38.3203 17.5 36.25 17.5L30 17.5L30 12.5C30 9.74219 32.2422 7.5 35 7.5L35.625 7.5C36.6641 7.5 37.5 6.66406 37.5 5.625L37.5 1.875C37.5 0.835938 36.6641 2.91637e-07 35.625 3.82475e-07L35 4.37114e-07C28.0937 1.04088e-06 22.5 5.59375 22.5 12.5L22.5 31.25C22.5 33.3203 24.1797 35 26.25 35Z"
                  fill="currentColor" />
              </svg>
              <p class="h4 text-black-300 font-weight-light">{{ .content | markdownify }}</p>
              <img src="{{`images/arrow.png` | absURL }}" alt="arrow">
            </div>
            <div class="user-info d-flex align-items-center mt-30">
              {{ $image := resources.GetMatch .image }}
              {{ partial "image.html" (dict "Image" $image "Alt" "carrousel image" "Class" "d-inline mr-3") }}
              <div class="pt-1">
                <h5 class="font-weight-bold">{{ .name }}</h5>
                <p>{{ .designation | markdownify }}</p>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      {{ with .button }}
      <div class="col-md-12">
        <div class="mt-50 text-center">
          <a href="{{ .url | absLangURL }}" class="btn btn-primary has-icon">{{ .text }}
            <span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z"
                  fill="currentColor" />
              </svg></span>
          </a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>

  <div class="shape-1 shape-sm bg-secondary rounded-circle d-none d-sm-block"></div>
  <div class="shape-2 shape-sm bg-primary rounded-circle d-none d-sm-block"></div>
  <div class="shape-3 shape-sm bg-tertiary rounded-circle d-none d-sm-block"></div>
  <div class="shape-4 shape-sm bg-secondary rounded-circle d-none d-sm-block"></div>
  <div class="shape-5 shape-xs bg-primary rounded-circle d-none d-sm-block"></div>
  <div class="shape-6 shape-xs-2 bg-tertiary rounded-circle d-none d-sm-block"></div>
</section>
{{ end }}
<!-- end of testimonials-carousel -->


<!-- About Us section -->
{{ with .Site.GetPage "/about" }}
<section class="section-padding bg-light-gray has-bg-brash bg-brash-y"
  style="background-image: url('{{`images/brushes/section-top.svg` | absURL}}'), url('{{`images/brushes/section-bottom.svg` | absURL}}');">
  <div class="container">
    <div class="row align-items-center justify-content-around">
      <div class="col-lg-5 col-md-8 col-sm-10 mb-5">
        <h2 class="section-title">{{ .Params.title | markdownify }}</h2>
        <p class="pb-20 mb-20">{{ .Params.Description | markdownify }}</p>
        <a href="{{ .Permalink | absLangURL }}" class="btn btn-primary has-icon">{{ i18n "view_job"}}
          <span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z"
                fill="currentColor" />
            </svg></span>
        </a>

      </div>
      <div class="col-lg-5 col-md-8 col-sm-10">
        <div class="d-inline-block has-shadow shadow-right has-shapes">
          {{ $image := resources.GetMatch .Params.image }}
          {{ partial "image.html" (dict "Image" $image "Alt" "About us image" "Class" "img-fluid rounded-sm") }}

          <div class="shape-1 shape-md bg-secondary rounded-circle"></div>
          <div class="shape-2 shape-xl bg-tertiary rounded-circle"></div>
          <div class="shape-3 shape-lg bg-primary rounded-circle"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- end about us section -->


<!-- Team section -->
{{ with .Site.GetPage "/team" }}
<section class="pt-120 pb-120 image-info-section has-shapes  overflow-hidden">
  <div class="container">
    <div class="row align-items-center justify-content-around">
      <div class="col-lg-5 col-md-8 col-sm-10">
        <div class="d-inline-block has-shadow shadow-left has-shapes">
          {{ $image := resources.GetMatch .Params.teamimage }}
          {{ partial "image.html" (dict "Image" $image "Alt" "Team image" "Class" "img-fluid rounded-sm") }}

          <div class="shape-1 shape-md bg-secondary rounded-circle"></div>
          <div class="shape-2 shape-xl bg-tertiary rounded-circle"></div>
          <div class="shape-3 shape-lg bg-primary rounded-circle"></div>
        </div>
      </div>
      <div class="col-lg-5 col-md-8 col-sm-10 mt-5 mt-lg-0">
        <h2 class="section-title">{{ .Params.title | markdownify }}</h2>
        <p class="pb-20">{{ .Content | markdownify }}</p>
        <a href="{{ .Permalink | absLangURL }}" class="btn btn-primary has-icon">{{ .Params.title }}
          <span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z"
                fill="currentColor" />
            </svg></span>
        </a>
      </div>
    </div>
  </div>

  <div class="shape-3 shape-xs-2 bg-secondary rounded-circle"></div>
  <div class="shape-4 shape-sm-2 bg-tertiary rounded-circle"></div>
  <div class="shape-5 shape-sm bg-primary rounded-circle"></div>
  <div class="shape-6 shape-xs bg-secondary rounded-circle"></div>
  <div class="shape-7 shape-xs-2 bg-tertiary rounded-circle"></div>
</section>
{{ end }}
<!-- end Team section -->

<!-- start of Partners -->
{{ if $data.partner.partner_circle.enable }}
{{ with $data.partner }}
<section class="section-padding tools-use-section has-shapes bg-light-gray has-bg-brash bg-brash-y"
  style="background-image: url('{{`images/brushes/section-top.svg` | absURL}}'), url('{{`images/brushes/section-bottom.svg` | absURL}}');">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-4 mt-4 mt-lg-0">
        <h2 class="section-title">{{ .partner_circle.title | markdownify }}</h2>
        <p>{{ .partner_circle.content | markdownify }}</p>
      </div>
      <div class="col-lg-6">
        <ul class="inCircle-tools d-block d-sm-flex align-items-center justify-content-center" id="inCircle-element">
          {{ range $i, $e:= .partner}}
          <li
            class="{{if modBool $i 2}} {{if eq $i 0}} has-centered lg {{else}}sm{{end}}{{else}}md{{end}} d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle">
            <a target="_blank" href="{{ .link }}">
              {{ $image := resources.GetMatch .logo }}
              {{ partial "image.html" (dict "Image" $image "Alt" "Logo image" "Class" "img-small-padding") }}
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>

  <div class="shape-1 shape-xs bg-yellow rounded-circle"></div>
  <div class="shape-2 shape-sm bg-orange rounded-circle d-none d-md-block"></div>
  <div class="shape-3 shape-xs-2 bg-orange rounded-circle"></div>
  <div class="shape-4 shape-xs bg-cyan rounded-circle"></div>
  <div class="shape-5 shape-xs bg-cyan rounded-circle"></div>
  <div class="shape-6 shape-md bg-yellow rounded-circle d-none d-md-block"></div>
</section>
{{ end }}
{{ end }}
<!-- end of tools-use -->

{{ with .Site.GetPage "/jobs" }}
<!-- start Jobs section -->
<section class="pt-120 pb-120 image-info-section has-shapes overflow-hidden">
  <div class="container">
    <div class="row align-items-center justify-content-around">

      <div class="col-lg-5 col-md-8 col-sm-10">
        <div class="d-inline-block has-shadow shadow-right has-shapes">
          {{ $image := resources.GetMatch .Params.image }}
          {{ partial "image.html" (dict "Image" $image "Alt" "Jobs Image" "Class" "img-fluid rounded-sm") }}
          <div class="shape-1 shape-md bg-yellow rounded-circle"></div>
          <div class="shape-2 shape-xl bg-cyan rounded-circle"></div>
          <div class="shape-3 shape-lg bg-orange rounded-circle"></div>
        </div>
      </div>
      <div class="col-lg-5 col-md-8 col-sm-10 mb-5">
        <h2 class="section-title">{{ .Params.title | markdownify }}</h2>
        <p class="pb-20 border-bottom mb-20">{{ .Params.description | markdownify }}</p>
        <ul class="check-list list-unstyled">
          {{ range .Params.benifits.item }}
          <li class="mb-15">
            <svg width="16" height="11" viewBox="0 0 18 13" class="text-primary mr-2" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M2 6.125L6.91892 11L16 2" stroke="currentColor" stroke-width="3" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            {{ .name | markdownify }}
          </li>
          {{ end }}
        </ul>
        <a href="{{ .Permalink | absLangURL }}" class="btn btn-primary has-icon">{{ .Params.title }}
          <span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z"
                fill="currentColor" />
            </svg></span>
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- end section -->


{{ end }}